.hoverButton {
  align-self: flex-end;
  width: 274px;
  height: 274px;
  border-radius: 200%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.11, 0.77, 0.87, 1.01);
}

.hoverButton:hover {
  box-shadow: 0px 0px 0px 100px rgba(255, 255, 255, 0.1);
}

.hoverButtonText {
  color: var(--dark) !important;
}
