:root {
  --light-blue: #d0d6f9;
  --white: #ffffff;
  --dark: #0b0d17;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Barlow", sans-serif;
  background-color: #0a0d19;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Normalize the texts */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  margin: 0;
}
