.container {
  display: grid;
  grid-template-rows: minmax(80px, 15vh) 85vh;
  background-image: url("../public/assets/home/background-home-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  padding: 8rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1440px;
  width: 100vw;
  height: 100%;
  margin: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 440px;
}

.bodyText {
  margin-top: 2em;
  color: var(--light-blue);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
